<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>User</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <style>
        form {
            margin-top: 150px;
        }
        table, th, td {
            border: 1px solid #020200;
            border-collapse: collapse;
        }
        th, td {
            padding: 15px;
        }
    </style>

</head>
<body>

<table>
    <th>
    <td>ID</td>
    <td>Name</td>
    </th>
    <tbody>
    <tr th:each="sequence : ${ sequenceList }">
        <td></td>
        <td th:text="${ sequence.id }">Id</td>
        <td th:text="${ sequence.name }">name</td>
    </tr>
    </tbody>
</table>

<form th:action="@{/sequences}" th:object="${sequence}" modelAttribute="sequence" method="post" class="form-horizontal col-sm-6 col-sm-offset-3">
    <table>
        <tr>
            <td>Id:</td>
            <td><input type="number" th:field="${sequence.id}" id="id"/></td>
            <td th:if="${#fields.hasErrors('id')}" th:errors="${sequence.id}">Id Error</td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="${sequence.name}" /></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="${sequence.name}">Email Error</td>
        </tr>


        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-10">
                <button class="btn btn-primary" type="submit" name="action" value="list">Show my Sequences</button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-10">
                <button class="btn btn-primary" type="submit" name="action" value="create">Create / Edit Sequence</button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-10">
                <button class="btn btn-primary" type="submit" name="action" value="start">Start Sequence</button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-10">
                <button class="btn btn-primary" type="submit" name="action" value="resume">Resume Sequence</button>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-10">
                <button class="btn btn-primary" type="submit" name="action" value="pause">Pause Sequence</button>
            </div>
        </div>


    </table>
</form>
<h2>
    <span th:text="'Current Sequence:' + ${currentSequence}"></span>
</h2>
<h2>
    <span th:text="'Current Interval:' + ${currentInteval}"></span>
</h2>
<h2>
    <span th:text="'Time left until next interval:' + ${leftUntilNext}"></span>
</h2>
</body>
</html>